@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0px; */
  margin: 0px;
}
@keyframes sway {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes swayY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.animate-sway {
  animation: sway 2s ease-in-out infinite;
}
.animate-swayY {
  animation: swayY 4s ease-in-out infinite;
}
